/*
* @Author: Administrator
* @Date:   2017-05-22 20:35:00
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-24 03:31:32
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Î¢ÈíÑÅºÚ";
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    color: #EBEBEB;
    text-decoration: none;
}
img{
    display: block;
}
header{
    width: 100%;
    height: 50px;
    background: #141414;
}
header .con{
    width: 1200px;
    margin: 0 auto;
}
header ul{
    float: right;
    margin-right: 80px;
}
header ul li{
    float: left;
    padding: 0 10px;
}
header ul li a{
    line-height: 50px;
    color: #EBEBEB;
    text-decoration: none;
    font-size: 12px;
}
header ul li:hover a{
    color: #09E1AE;
}

.nav{
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    border-bottom: 2px solid #09E1AE;
}
.nav .con{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.nav .con ul{
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.nav .con ul li{
    width: 130px;
    height: 100%;
    float: left;
    text-align: center;
}
.nav .con ul li:nth-child(3){
    margin-right: 130px;
}
.nav .con ul li a{
    display: block;
    margin-top: 26px;
    font-size: 16px;
    color: #000000;
}
.nav .con img{
    width: 130px;
    height: auto;
    position: absolute;
    top:-24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.nav .con ul li:hover{
    background: #09E1AE;
}




.ddcg{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

.dd-kaishi{
    width: 100%;
    height: 4px;
    /*background-color: #09E1AE;*/
    margin-top: -6px;
}

.dd-bg{
    width: 1200px;
    height: 75px;
    background-color: #09E1AE;
    margin: 0 auto;
    border-radius: 6px;
}

.dd-left{
    float: left;
}

.dd-left img{
    height: 75px;
    display: block;
}

.dd-right{
    float: right;
    margin-right: 160px;
    margin-top: 20px;
    background: url(../img/dd-jsdd.png) no-repeat;
    width: 620px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dd-right span{
    display: block;
    width: 163px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
}

.dd-hot1 a{
    color: #fff;
}

.dd-hot a{
    color: #09E1AE;
}

.dd-nei>img{
    display: block;
    margin: 50px 0 55px 60px;
}

.ddcg .tp{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background: url('../img/images/fkym_15.png');
    background-repeat: no-repeat;
    background-size: 485px 440px;
    background-position: 200px 10px;
    padding-top: 200px;

}
.ddcg .tp p:nth-of-type(1){
    width: 160px;
    font-size: 20px;
    color: #1C1C1C;
    margin-left: 630px;
    font-weight: 500;
}
.ddcg .tp p:nth-of-type(2){
    width: 185px;
    font-size: 10px;
    color: #9F9F9F;
    margin-left: 630px;
}

.sy,.ck{
    width: 130px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    background: #FEE902;
    color: #3F3F3F;
    border-radius: 4px;
    float: left;
    margin-top: 120px;
}
.sy a{
    color: #3F3F3F;
}

.ck a{
    color: #3F3F3F;
}
.sy{

    margin-left: 660px;
    margin-right: 10px;
}





footer>img{
    width: 130px;
    margin: 0 auto;
}
footer .con{
    width: 100%;
    height: 440px;
    background: #141414;

}
footer .con .cantain{
    width: 1065px;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;

}
footer .con .cantain>li{
    width: 355px;
    height: 178px;
    box-sizing: border-box;
    float: left;
    padding: 15px 0;
    position: relative;
}
footer .con .cantain>li:nth-of-type(2){
    border-right: 1px solid #6F6F6F;
    border-left: 1px solid #6F6F6F;
}
footer .con .cantain>li>div:nth-of-type(1){
    width: 90px;
    height: 30px;
    background: #09E1AE;
    color: #90F1DB;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    float: left;
    margin-top: 6px;
}
footer .con .cantain>li p{
    width: 224px;
    color: #6A6A6A;
    float: left;
    margin-left: 20px;
}
footer .con .cantain>li ul{
    margin-top: 80px;
}
footer .con .cantain>li ul li{
    width: 75px;
    font-size: 12px;
    color: #676767;
    text-align: center;
    float: left;
    padding: 6px;
}
footer .con .cantain>li:nth-of-type(2){
    width: 310px;
    padding-left: 24px;
}
footer .con .cantain>li:nth-of-type(2) p{
    width: 110px;
}
footer .con .cantain>li ul li img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 3px;
}
footer .con .cantain>li:nth-of-type(3){
    width: 380px;
    padding-left: 24px;
}

footer .wz{
    text-align: center;
    margin-top: 240px;
    font-size: 12px;
    color: #676767;
}
footer .con .cantain li .dd{
    position: absolute;
    right: 30px;
    top: 42px;
    z-index: 4;
}
footer .con .cantain li:nth-of-type(2) .dd{
    right: 70px;
}
footer .con .cantain .dd div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FEE902;
    float: left;
    margin-left: 14px;

}













