/*
* @Author: Administrator
* @Date:   2017-05-28 09:37:35
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-28 12:08:23
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	font-size: 16px;
	color: #000000;
}
img{
    display: block;
}
header{
    width: 100%;
    height: 50px;
    background: #141414;
}
header .con{
    width: 1200px;
    margin: 0 auto;
}
header ul{
    float: right;
    margin-right: 80px;
}
header ul li{
    float: left;
    padding: 0 10px;
}
header ul li a{
    line-height: 50px;
    color: #EBEBEB;
    text-decoration: none;
    font-size: 12px;
}
header ul li:hover a{
    color: #09E1AE;
}

.nav1{
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    border-bottom: 2px solid #09E1AE;
}
.nav1 .con{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.nav1 .con ul{
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.nav1 .con ul li{
    width: 130px;
    height: 100%;
    float: left;
    text-align: center;
}
.nav1 .con ul li:nth-child(3){
    margin-right: 130px;
}
.nav1 .con ul li a{
    display: block;
    margin-top: 26px;
    font-size: 16px;
    color: #000000;
}
.nav1 .con img{
    width: 130px;
    height: auto;
    position: absolute;
    top:-24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.nav1 .con ul li:hover{
    background: #09E1AE;
}


.banner{
	width: 100%;
	height: 600px;
	background: #141414;
	
}
.banner img{
	width: 100%;
	height: 600px;
}






.mzsx{
    width: 100%;
    height: 900px;
    background: #141414;
    padding-top: 170px

}

.mzsx>img{
    width: 580px;
    margin: 0 auto;

}
.mzsx .con{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 90px;
}
.mzsx .con .top{
    width: 1080px;
    height: 264px;
    margin: 0 auto;
    margin-bottom: 47px;
    position: relative;
}

.mzsx .con .top>a img{
    width: 504px;
    height: auto;
    float: left;
    /* margin-top: -47px; */
    position: absolute;
    top: -47px;
    left: 0px;
}

.mzsx .con .top>a img:last-child{
    display: none;
} 
.mzsx .con .top>a:hover img:last-child{
    display: block;
}

.mzsx .con .top>div{
    width: 504px;
    height: 264px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    float: left;
    position: absolute;
    top: 0;
    left: 504px;
}
.mzsx .con .top>div p:nth-of-type(1){
    font-size: 24px;
    color: #4E4E4E;

}
.mzsx .con .top>div p span{
    font-weight: bold;
    color: #171717;
}
.mzsx .con .top>div p:nth-of-type(2){
    font-size: 14px;
    color: #707070;
    margin-top: 18px;
    margin-bottom: 32px

}
.mzsx .con .top>div p:nth-of-type(3){
    font-size: 14px;
    color: #C2C2C2;
    margin-bottom: 32px;
}
.mzsx .con .top>div img{
    width: 47px;
    float: left;
    /* margin-top: ; */
}
.mzsx .con .top>div .ljgm{
    width: 147px;
    height: 41px;
    background: #141414;
    color: #FEE902;
    text-align: center;
    line-height: 41px;
    margin-left: 270px;
    margin-top: -10px;

}

.mzsx .con .sk{
    width: 13px;
    height: 61px;
    background: #09E1AE;
    position: absolute;
    right: -7px;
    top: 40px;

}

























/* 猜你喜欢开始 */
.lineBox2{
    width: 100%;
    height: 900px;
}
.lineBox2_sun{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.like_img{
    width: 100%;
    height: 350px;
    padding-top: 100px;
    box-sizing: border-box;
}
.like_img_sun{
    width: 599px;
    height: 109px;
    background-image: url('../img/cnxh_03.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

.like_text{
    width: 1200px;
    height: 550px;
}

.like_sun{
    width: 1200px;
    height: 400px;
}
.like_sun>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.like_sun>ul>li{
    width: 256px;
    height: 321px;
    background: #fff;
    border: 1px solid #E3E1DD;
    padding-top: 30px;
    padding-right: 26px;
    box-sizing: border-box;
    position: relative;
}
.like_sun>ul>li>.like_mony{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 20px;
}
.like_mony>h4{
    float: right;
}
.like_mony>span{
    float: right;
    color: #6f6d68;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.imgMony{
    width: 100%;
    height: 220px;
    display: flex;
    position: relative;
}
.imgMony_left{
    width: 60%;
    height: 100%;
}
.imgMony_left>a{
    display: block;
    width: 100%;
    height: 100%;
}

.imgMony_right{
    width: 40%;
    height: 100%;
}
.imgMony_right>h3{
    float: right;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.imgMony_right>h3>span{
    font-size: 16px;
}

.like_icon{
    width: 100%;
    height: 30px;
    display: flex;
    padding-top: 30px;
    padding-left: 10px;
    justify-content: space-around;
}
.like_icon>i{
    display: block;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}
.imgMony_right>span{
    display: block;
    width: 55px;
    height: 1px;
    background: #00dade;
    margin-top: 70px;
    margin-left: 38px;
}
.imgMony_right>.like_icon i:hover{
    color: #fff;
    background: #000;
    transition: all 0.2s ease;
}
.monyhid{
    width: 254px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11111;
    opacity: 0;
    transition: all 0.2s ease;
}
.monyhid>a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}

.iconlike{
    width: 140px;
    height: 40px;
    background: #00d5ae;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -40px;
    display: flex;
    justify-content: space-between;
    z-index: 2222222;
    opacity: 0;
    transition: all 0.2s ease;
}
.iconlike>h6{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    line-height: 40px;
}

.iconlike>h6>span{
    font-size: 16px;
}

.iconlike>i{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
}
.iconlike>i:hover{
    color: #fff;
    transition: all 0.2s ease;
}
.like_text .like_sun ul li:hover .monyhid{
    opacity: 1;
}
.like_text .like_sun ul li:hover .iconlike{
    opacity: 1;
}











footer{
     margin-top:40px;
}

footer img{
    display:block;
}
footer>img{
    
    width: 130px;
    margin: 0 auto;
}
footer .con{
    width: 100%;
    height: 440px;
    background: #141414;

}
footer .con .cantain{
    width: 1065px;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;

}
footer .con .cantain>li{
    width: 355px;
    height: 178px;
    box-sizing: border-box;
    float: left;
    padding: 15px 0;
    position: relative;
}
footer .con .cantain>li:nth-of-type(2){
    border-right: 1px solid #6F6F6F;
    border-left: 1px solid #6F6F6F;
}
footer .con .cantain>li>div:nth-of-type(1){
    width: 90px;
    height: 30px;
    background: #09E1AE;
    color: #90F1DB;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    float: left;
    margin-top: 6px;
}
footer .con .cantain>li p{
    width: 224px;
    color: #6A6A6A;
    float: left;
    margin-left: 20px;
}
footer .con .cantain>li ul{
    margin-top: 80px;
}
footer .con .cantain>li ul li{
    width: 75px;
    font-size: 12px;
    color: #676767;
    text-align: center;
    float: left;
    padding: 6px;
}
footer .con .cantain>li:nth-of-type(2){
    width: 310px;
    padding-left: 24px;
}
footer .con .cantain>li:nth-of-type(2) p{
    width: 110px;
}
footer .con .cantain>li ul li img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 3px;
}
footer .con .cantain>li:nth-of-type(3){
    width: 380px;
    padding-left: 24px;
}

footer .wz{
    text-align: center;
    margin-top: 240px;
    font-size: 12px;
    color: #676767;
}
footer .con .cantain li .dd{
    position: absolute;
    right: 30px;
    top: 42px;
    z-index: 4;
}
footer .con .cantain li:nth-of-type(2) .dd{
    right: 70px;
}
footer .con .cantain .dd div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FEE902;
    float: left;
    margin-left: 14px;

}